* {
  box-sizing: border-box;
}

html {
    background-color: rgb(228, 64, 77);
}


main {
  background-color: #a4eeff;
  background-image: url(../img/bgimage-2.png);
  padding: 0 0 40px;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

header {
  background-color: rgb(228, 64, 77);
  display: inline-block;
  height: 70px;
  width: 100%;
}
